/*

Contains styles for the overall layout of the app. These include styles for:
- Layout of header, footer, main
- Grid

*/

body {
  width: 100%;
  background-color: $color-background-secondary-2;
}

.App {
  max-width: $page-width;
  margin-right: auto;
  margin-left: auto;
  background-color: $color-background;
}

.App__component {
  min-height: 100vh;
}
