.c-chatroom {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.c-chatroom__header {
  @include fixed-positioned();
  top: 0;
}

.c-chatroom__logo {
  text-align: center;
  padding: $padding-small 0;
  background-color: $color-surface;
}

.c-chatroom__header__gradient-overlay {
  height: $header-overlay-height;
  background-image: linear-gradient(
    to bottom,
    $color-surface,
    rgba(255, 255, 255, 0)
  );
}

.c-chatroom__enterMessage {
  margin-top: auto;
}
