.c-enter {
  @include modal();
}

.c-enter__content {
  @include modal__content();
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.c-enter__title {
  margin-bottom: $padding-xsmall;
}

.c-enter__subtitle {
  text-align: center;
  margin-bottom: $padding-medium;
}

.c-enter__input-name {
  margin-bottom: $padding-small;
  text-align: center;
  line-height: normal;
}

.c-enter__button-start:disabled {
  background-color: $color-disabled;
}
