.c-enterMessage {
  @include fixed-positioned();
  bottom: 0;
}

.c-enterMessage__input-wrapper {
  padding: $padding-xsmall;
  background-color: $color-background-secondary;
}

.c-enterMessage__input-container {
  position: relative;
}

.c-enterMessage__input {
  padding-left: $padding-small;
  padding-right: $padding-small + $icon-width-default;
}

.c-enterMessage__button {
  position: absolute;
  right: $padding-small;
  top: ($control-height - $icon-height-default)/2;
}

.c-enterMessage__button:disabled {
  opacity: 0.25
}
