.c-messages {
  margin-bottom: $padding-xxlarge;
}

.c-message {
  display: flex;

  margin-bottom: $padding-large;
}

.c-message__content {
  padding: 0 $padding-small;
  max-width: 80%;
  overflow-wrap: break-word;
  display: flex;
}

.c-message__img {
  width: $profile-picture-width;
  height: $profile-picture-height;
  margin-right: $padding-small;
  padding: $padding-for-picture-frame;
  border: 0.3rem solid $color-border;
}

.c-message__metadata {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.c-message__text {
  padding-top: $padding-xxsmall-2;
}

.c-message__name {
  margin-right: $padding-xsmall;
}

.c-message__time {
}

.c-message__time-ampm {
  font-variant: small-caps;
}

// Message by logged in user have a different style

.c-message--current-user {
  justify-content: flex-end;

  .c-message__content {
    align-self: flex-end;
  }

  .c-message__metadata {
    flex-direction: row-reverse;
  }

  .c-message__name {
    margin-right: 0;
    margin-left: $padding-xsmall;
    background-color: $color-background-label;
    color: $color-label;
    padding: $padding-xxsmall-1 $padding-xxsmall-2;
  }

  .c-message__img {
    display: none;
  }
}
