// Mixins for typography

@mixin body() {
  font-size: 1.5rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: -0.3px;
  font-family: $serif-font;
}

@mixin caption() {
  font-family: $sans-serif-font;
  font-size: 1.1rem;
  color: $color-caption;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: 0.5px;
}

@mixin h3() {
  font-family: $serif-font;
  font-size: 2rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: $color-heading;
}

@mixin h6() {
  font-family: $sans-serif-font;
  font-size: 1.1rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: 1px;
  color: $color-heading;
  text-transform: uppercase;
}

@mixin button-label() {
  font-size: 1.4rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 1px;
  color: $color-on-primary;
  text-transform: uppercase;
  font-family: $sans-serif-font;
}

// Mixins for components

// Button element which has an icon and no text
@mixin icon-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  height: $icon-height-default;
  width: $icon-width-default;
  padding: 0;
}

@mixin link-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: $color-primary;
}

@mixin modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $color-background-modal;

  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: $z-index-modal;
}

@mixin modal__content {
  background-color: $white-100;
  padding: $padding-small;
  margin: 0 $padding-xlarge;
  max-width: $page-width;
  border: 4px solid $color-border;

  @media (min-width: $page-width) {
    margin: auto;
  }
}

@mixin fixed-positioned {
  position: fixed;
  width: 100%;
  max-width: $page-width;
  z-index: $z-index-fixed-positioned;
}
