/*
Colors
*/

$black-100: #000000;
$black-4: rgba(0, 0, 0, 0.4);
$grey-0: #2f363d;
$grey-1: #6c737a;
$grey-2: #adb2b8;
$grey-3: #dadde0;
$grey-4: #f0f2f5;
$white-100: #ffffff;
$white-72: rgba(255, 255, 255, 0.72);
$red-1: #ff6680;
$red-2: #ffd9df;
$red-3: #fff7f9;
$blue-1: #0090f7;

/*
Color System
*/

$color-primary: $red-1;
$color-disabled: $grey-1;
$color-on-primary: $white-100;

// Colors used as backgrounds
$color-background: $white-100;
$color-background-secondary: $red-2;
$color-background-secondary-2: $red-3;
$color-background-modal: $black-4;
$color-background-label: $grey-0;
$color-surface: $white-100;

// Colors for text color
$color-heading: $black-100;
$color-body: $grey-0;
$color-message-light: $grey-2;
$color-caption: $grey-1;
$color-label: $white-100;

// Color for border
$color-border: $black-100;

/*
Fonts
*/

$serif-font: 'Inknut Antiqua', serif;
$sans-serif-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';
$logo-font: 'Russo One', sans-serif;

/*
Breakpoints for responsive design
*/

$mobile: 400px;
$phablet: 550px;
$tablet: 720px;

/*
Lengths
*/

$padding-xxsmall-1: 0.3rem;
$padding-xxsmall-2: 0.4rem;
$padding-xsmall: 0.8rem;
$padding-small: 1.6rem;
$padding-medium: 2.4rem;
$padding-large: 3.2rem;
$padding-xlarge: 4rem;
$padding-xxlarge: 5.6rem;

$padding-for-picture-frame: 0.1rem;

// Height of buttons, input fields
$control-height: 4rem;
// the overlay div in the header that has a gradient effect
$header-overlay-height: 4rem;

$height-participants-avatar: 4.8rem;

$icon-height-default: 2.4rem;
$icon-width-default: 2.4rem;
$profile-picture-height: 4rem;
$profile-picture-width: 3.2rem;

$page-width: $tablet;

// Z-index
$z-index-modal: 100;
$z-index-fixed-positioned: 10;
