button {
  @include button-label();
  width: 100%;
  background-color: $color-primary;
  border: none;
  height: $control-height;
  cursor: pointer;
}

input[type='text'] {
  width: 100%;
  height: $control-height;
  border: 2px solid $color-border;

  &::placeholder {
    color: $color-message-light;
  }
}

p {
  margin: 0;
}
