h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body,
.body {
  @include body();
}

h3,
.h3 {
  @include h3();
}

h6,
.h6 {
  @include h6();
}

.caption {
  @include caption();
}

.button-label {
  @include button-label();
}

.logo {
  font-family: $logo-font;
  font-size: 1.6rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 6px;
  color: $grey-0;
  text-transform: uppercase;
}
